@CHARSET "UTF-8";

.jumbotron .display-3 a {text-decoration: none}

.article {margin: 15px 0;border-bottom: 1px solid #f2f2f2}
.article .date-time {margin-right: 10px}
.article .tags a {margin-right: 10px}
.article .title a {text-decoration: none;color: #000}
.article .title a:hover {background-color: #ddd}
.article .content {font-weight: 500}

.power-by {text-align: center;margin: 20px auto}

.search-result-ul li {margin: 10px 0;border-bottom: 1px dotted #ddd}



#editor {min-height: 400px}